@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Righteous';
  src: url('./assets/fonts/Righteous.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-righteous: "Righteous", cursive;
}

body {
    background-color: #cfcfcf;
    overflow-y: hidden;
}

@layer base {
    button {
        @apply 
        font-poppins
        text-lg md:text-2xl lg:text-lg
      text-[#f4f4f4] 
      bg-[#333] 
        border-none 
        hover:opacity-80 
        py-1 md:py-3 lg:py-1
    };

    div {
        @apply 
        flex 
        flex-col 
        mx-8 md:mx-10 lg:mx-45
        gap-y-6 md:gap-y-8
        text-center 
    };

    p {
        @apply 
        font-poppins
        text-lg md:text-2xl lg:text-lg
    };

    form {
        @apply
        flex
        flex-col
        gap-y-[0.3rem] md:gap-y-2
        text-center
    };

    input {
        @apply
        font-poppins
        border md:border-2 lg:border
        border-solid
        border-[#333]
        h-[2.2rem] md:h-12 lg:h-[2.2rem]
        pl-2 md:pl-5 lg:pl-3
        overflow-x-scroll
        text-lg md:text-2xl lg:text-lg
        text-[#333]
        bg-[#f4f4f4]
    }
}